#root {
  max-width: 1280px;
  text-align: left;
}
.NavBar{
margin-left: 12%;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
width: 1080px;
background-color: rgb(255, 255, 255);


}
.NavLinks{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 50px;
  text-align: left;
}
.NavLinks p{
  color: black;
  text-decoration: dotted;
}